@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Roboto');


body {
  background-color: #dbc9bf;
}

h2 {
  font-family: 'Calligraffitti', cursive;
  color: #875a66;
}

p {
 font-family: 'Roboto', sans-serif;
 color: #000;
}

.margtop {
  margin-top: 50px;
}

.container-fluid {
  margin: 50px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block
}

.main {
  margin: 0 auto;
  padding:0px;
  background-color: #dbc9bf;
  opacity: 1;
  height: 250px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px 0px;
  background: url('../img/flowtop.jpg') no-repeat bottom center;
  background-size: cover;
  height: 150px;
  opacity: 0.6;
}


footer {
  background: url('../img/flowbot.jpg') no-repeat top center;
  background-size: cover;
  height: 150px;
  opacity: 0.6;
}

h5 {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
}


.side_nav {
    position: relative;
    width: 200px;
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
}
